* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
    color: red;
}

.paragrafo {
    border: 1px solid cyan;
    color: #00f;
    margin-top: 1rem;
}

#titulo {
    color: #0f0;
    margin-bottom: 1rem;
}

input[type="password"] {
    font-size: 3reme;
}